.container {
  display: flex;
  height: calc(100vh - 50px);
}

.content {
  background-color: var(--seconadry-color);
  height: 100%;
  width: 100%;
  padding: 20px calc(5% + 40px);
}

@mixin contentWidth {
  max-width: 1200px;
  margin: 0 auto;
}
.contentHeadContainer {
  @include contentWidth;
  display: flex;
  font-family: var(--body2);
  color: #fff;
}
.contentHeader {
  margin: 0;
  font-family: inherit;
  font-size: 2.2rem;
}
.addTaskBtn {
  font-family: inherit;
  appearance: none;
  border: none;
  margin: 0 0 0 auto;
  padding: 4px 20px;
  height: 42px;
  color: inherit;
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: var(--primary-hover-color);
  }
  &:active {
    outline-color: var(--outline-focus-color);
    outline-offset: 3px;
    outline-width: 2px;
    outline-style: solid;
  }
}

.mainTask {
  @include contentWidth;
  padding-top: 40px;
}
.sectionHead {
  font-family: var(--heading);
  color: #fff;
  margin: 0;
}
.taskSection {
  margin-bottom: 40px;
}

// TaskBar File Styling
.taskBarContainer {
  display: flex;
  margin: 8px 0;
}

@mixin taskbastyle {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--heading);
  border-radius: 7px;
  padding: 9px 17px;
  font-size: 1.3rem;
}
.taskDate {
  @include taskbastyle;
  margin-right: 15px;
  white-space: nowrap;
}
.taskBarContent {
  @include taskbastyle;
  width: 100%;
  display: flex;
  align-items: center;
}

.taskBarTickBox {
  background-color: var(--tertiary-color);
  border-radius: 9999px;
  height: fit-content;
  width: fit-content;
  padding: 2px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
}
