.header {
  background-color: var(--primary-color);
  display: flex;
  height: 50px;
}

.leftComp {
  display: flex;
  width: 100px;
  height: 100%;
  padding: 10px 10px 10px 0;
  margin-left: 30px;
}
.rightComp {
  display: flex;
  margin: 0 0 0 auto;
  padding: 5px;
  height: 100%;
}

.iconContainer {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.userComp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  color: #fff;
  font-size: 1.1rem;
  margin: 0;
  padding-right: 7px;
  font-family: var(--body);
}

.imgContainer {
  width: 40px;
  height: 100%;
  margin-right: 30px;
}
