@mixin modalBack {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 1.5rem;
  position: absolute;
}
.pos {
  @include modalBack;
  z-index: 10;
}
.bgClose {
  @include modalBack;
  left: 0;
  background-color: rgba(0, 0, 0, 0.226);
}

.content {
  margin: 7rem auto 0 auto;
  background-color: var(--pri-sec-color);
  width: 500px;

  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 5px 12px 29px -16px rgb(103, 226, 242, 0.5);
}

.head {
  margin: 0;
  color: #fff;
  font-family: var(--heading);
  font-size: 1.5rem !important;
  padding: 1px 3px;
}

.btnGroup {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
@mixin btnStyle($bgColor, $bgColorHover) {
  color: #fff;
  font-family: var(--body2);
  background-color: var($bgColor);
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var($bgColorHover);
  }
}
.addTaskBtn {
  @include btnStyle(--btn-color, --btn-hover-color);
}
.cancelTaskBtn {
  @include btnStyle(--caution-color, --caution-hover-color);
}
.backTaskBtn {
  @include btnStyle(--neutral-gray-color, --neutral-gray-hover-color);
  color: #000;
}

.btnOptionGroup {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.optionBtn {
  background: none;
  height: auto;
  padding-bottom: 0;
  margin: 0;
  padding: 2px 4px;
  display: flex;
}
.warnModalHeader {
  font-family: var(--heading);
  color: #fff;
  font-size: 1.3rem;
}
