@mixin modalBack {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 1.5rem;
  position: absolute;
}
.pos {
  @include modalBack;
  z-index: 10;
}
.posBig {
  @include modalBack;
  display: flex;
  z-index: 10;
}
.bgClose {
  @include modalBack;
  left: 0;
  background-color: rgba(0, 0, 0, 0.226);
}

@mixin content {
  margin: 7rem auto 0 auto;
  background-color: var(--pri-sec-color);
  width: 500px;

  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 5px 12px 29px -16px rgb(103, 226, 242, 0.5);
}
.content {
  @include content;
}
.contentBig {
  @include content;
  margin: 0 auto;
  height: 100%;
  width: 600px;
}

.head {
  margin: 0;
  color: #fff;
  font-family: var(--heading);
  font-size: 1.5rem !important;
  padding: 1px 3px;
}

.btnGroup {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
@mixin btnStyle($bgColor, $bgColorHover) {
  color: #fff;
  font-family: var(--body2);
  background-color: var($bgColor);
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var($bgColorHover);
  }
}
.addTaskBtn {
  @include btnStyle(--btn-color, --btn-hover-color);
}
.cancelTaskBtn {
  @include btnStyle(--caution-color, --caution-hover-color);
}
.backTaskBtn {
  @include btnStyle(--neutral-gray-color, --neutral-gray-hover-color);
  color: #000;
}

.btnOptionGroup {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.optionBtn {
  background: none;
  height: auto;
  padding-bottom: 0;
  margin: 0;
  padding: 2px 4px;
  display: flex;
}
.warnModalHeader {
  font-family: var(--heading);
  color: #fff;
  font-size: 1.3rem;
}

@mixin labelContainer {
  display: inline-flex;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  margin-top: 6px;
}
.labelMain {
  @include labelContainer;
}
.labelBar {
  display: inline-flex;
  align-items: center;
  background-color: var(--neutral-gray-color);
  font-family: var(--body);
  border-radius: 8px;
  padding: 3px 10px;
  cursor: pointer;
  outline: solid 1px #000;
}
.labelMainWhite {
  @include labelContainer;
  background-color: var(--tertiary-color);
  flex-wrap: wrap;
  gap: 7px;
}

.missingLabel {
  color: var(--secondary-color);
  font-family: var(--body);
  text-align: center;
  margin: 0 auto;
}
.labelForm {
  width: 100%;
}
.labelFormDiv {
  width: 100%;
}
.inputFlex {
  display: flex;
}
