.imageContainer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  opacity: 1;
  border: 0px none;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.imgContent {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 0;
  height: 0;
}
