.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

// Left Panel Section
.leftPanel {
  display: block;
  width: 85%;
  transition: width 600ms ease-out;
}

.background {
  width: 100%;
  height: 100%;

  background-image: url("../../../public/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.imgBlender {
  width: 100%;
  height: 100%;

  background: rgb(2, 2, 2);
  background: linear-gradient(
    180deg,
    rgba(2, 2, 2, 0.725910432532388) 0%,
    rgba(24, 24, 24, 0.3785714969581583) 39%,
    rgba(0, 0, 0, 0.22170875186011907) 85%,
    rgba(24, 24, 24, 1) 100%
  );
}

// Right Panel Section
.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 350px;
  width: 25%;
  padding: 2rem;
  color: var(--tertiary-color);

  margin: 0 auto;
}

.rightPanelMain {
  width: 100%;
}

.brand {
  padding: 0 3rem;
  max-width: 300px;
  margin: 0 auto;
}
.brandName {
  margin: 0.3rem 0 0 0;
  font-family: var(--brand);
  font-size: 2.5rem;
  text-align: center;
}

.formControl {
  padding: 2rem 0;
  width: 100%;
}

.infoBox {
  margin: 1rem 0;
  font-family: var(--body);
}
.infoPara {
  margin: 0;
  margin-bottom: 3px;
}
.infoCondition {
  color: var(--hightlight-color);
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: var(--hightlight-hover-color);
  }
}

.verifiedHeader {
  font-family: var(--heading);
  text-align: center;
  font-size: 1.7rem;
  margin: 15px 0 8px 0;
}
.verifiedDesc {
  font-family: var(--body);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.5;
}

.codeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: "600px") {
  .leftPanel {
    width: 0;
  }
  .rightPanel {
    width: 100%;
    padding: 1rem;
  }
}
@media screen and (max-width: "400px") {
  .rightPanel {
    min-width: 300px;
    width: 100%;
    padding: 1rem;
  }
  .brandName {
    font-size: 2rem;
  }
}
